<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="bi bi-grid"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-heading">Pages</li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/users-list">
        <i class="bi bi-person"></i> <span>Users List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/all-books">
        <i class="bi bi-card-list"></i> <span>All books</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/add-book">
        <i class="bi bi-file-earmark-plus"></i> <span>Add book</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/pages-contact">
        <i class="bi bi-envelope"></i> <span>Contact</span>
      </a>
    </li>
  </ul>
</aside>
