<main id="main" class="main">
  <div class="pagetitle">
    <h1>All users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">All users</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="col-12">
      <div class="card top-selling overflow-auto">
        <div class="card-body pb-0">
          <h5 class="card-title">Users</h5>
          <table class=" table datatable ">
            <thead>
              <tr>
                <th scope="col">profile</th>
                <th scope="col">Username</th>
                <th scope="col">Uplouded books count</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <a href="#"
                    ><img
                      class="rounded-circle"
                      width="70px"
                      height="70px"
                      src="assets/img/book-1.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold">The Art City</a>
                </td>
                <td>322</td>
                <td>
                  <select id="inputState" class="form-select w-75">
                    <option selected>User</option>
                    <option>Admin</option>
                  </select>
                </td>
                <td><p class="text-success fw-bold">Online</p></td>
                <td><i class="bi bi-trash h4"></i></td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#"
                    ><img
                      class="rounded-circle"
                      width="70px"
                      height="70px"
                      src="assets/img/book-2.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold"
                    >Exercitationem similique doloremque</a
                  >
                </td>
                <td>46</td>
                <td>
                  <select id="inputState" class="form-select w-75">
                    <option selected>User</option>
                    <option>Admin</option>
                  </select>
                </td>
                <td><p class="text-danger fw-bold">Offline</p></td>
                <td><i class="bi bi-trash h4"></i></td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#"
                    ><img
                      class="rounded-circle"
                      width="70px"
                      height="70px"
                      src="assets/img/book-3.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold"
                    >Doloribus nisi exercitationem</a
                  >
                </td>
                <td>59</td>
                <td>
                  <select id="inputState" class="form-select w-75">
                    <option selected>User</option>
                    <option>Admin</option>
                  </select>
                </td>
                <td><p class="text-success fw-bold">Online</p></td>
                <td><i class="bi bi-trash h4"></i></td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#"
                    ><img
                      class="rounded-circle"
                      width="70px"
                      height="70px"
                      src="assets/img/book-4.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold"
                    >Officiis quaerat sint rerum error</a
                  >
                </td>
                <td>32</td>
                <td>
                  <select id="inputState" class="form-select w-75">
                    <option selected>User</option>
                    <option>Admin</option>
                  </select>
                </td>
                <td><p class="text-success fw-bold">Online</p></td>
                <td><i class="bi bi-trash h4"></i></td>
              </tr>
              <tr>
                <th scope="row">
                  <a href="#"
                    ><img
                      class="rounded-circle"
                      width="70px"
                      height="70px"
                      src="assets/img/book-5.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold"
                    >Sit unde debitis delectus repellendus</a
                  >
                </td>
                <td>79</td>
                <td>
                  <select id="inputState" class="form-select w-75">
                    <option selected>User</option>
                    <option>Admin</option>
                  </select>
                </td>
                <td><p class="text-danger fw-bold">Offline</p></td>
                <td><i class="bi bi-trash h4"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


</main>

