<header class="header">

    <div class="d-flex align-items-center justify-content-between bg-white" style="padding:1.5rem 9% ;">

        <p routerLink="home" class="h1 font-weight-bold user-select-all text-secondary" style="cursor: pointer;"> <i class="fa fa-book text-success pe-auto" ></i> bookly </p>

        <form action="" class="w-50 h-25 border rounded overflow-hidden d-flex align-items-center bg-white">
            <input class="h4 p-3 h-100 w-100" type="search" name="" placeholder="search here..." id="search-box">
            <div id="search-btn" class="fa fa-search h1 me-4 pe-auto"></div>
        </form>

        <div class="icons">
            <div class="fa fa-bell h1 ms-5 pe-auto"></div>
            <div routerLink="favoritePage" class="fa fa-heart h1 ms-5 pe-auto"></div>
            <div routerLink="login" class="fa fa-user h1 ms-5 pe-auto"></div>

        </div>

    </div>

    <div class="bg-green ">
        <nav class="text-center">
            <div routerLink="home">
                <a class="nav-item"  href="#welcome">Welcome</a>
                <a class="nav-item"  href="#latest">Latest</a>
                <a class="nav-item"  href="#mostDownloaded">Most downloaded</a>
            </div>
        </nav>
    </div>

</header>


