<section class="footer">
  <div class="row d-flex">
    <div class="col">
      <h3 class="py-3">our locations</h3>
      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> USA
      </h5>
      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> india
      </h5>
      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> russia
      </h5>
      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> france
      </h5>

      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> japan 
      </h5>
      <h5 class="d-block text-muted py-2" href="#">
        <i class="fa fa-map-marker h2 px-3 text-success"></i> turkey
      </h5>
    </div>

    <div class="col">
      <h3 class="py-3">quick links</h3>
      <a routerLink="home" class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-arrow-right px-3 text-success h4"></i> home </a>
      <a routerLink="login" class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-arrow-right px-3 text-success h4"></i> login </a>
      <a routerLink="allBooks" class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-arrow-right px-3 text-success h4"></i> all books </a>
      <a routerLink="home" class="d-block text-muted py-2 h5" href="#latest"> <i class="fa fa-arrow-right px-3 text-success h4"></i> latest </a>
      <a routerLink="home" class="d-block text-muted py-2 h5" href="#featured"> <i class="fa fa-arrow-right px-3 text-success h4"></i> featured </a>
      <a routerLink="addBook" class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-arrow-right px-3 text-success h4"></i> add book </a>
    </div>

    <div class="col">
      <h3 class="py-2">contact info</h3>
      <a class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-phone px-3 text-success h4"></i> +123-456-7890 </a>
      <a class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-phone px-3 text-success h4"></i> +111-222-3333 </a>
      <a class="d-block text-muted py-2 h5" href="#"> <i class="fa fa-envelope px-3 text-success h4"></i> abdullah206khan@gmail.com </a>
      <img src="./assets/image/worldmap.png" class="map" alt="" />
    </div>
  </div>

  <div class="share">
    <a href="#" class="fa fa-facebook-f "></a>
    <a href="#" class="fa fa-twitter "></a>
    <a href="#" class="fa fa-instagram "></a>
    <a href="#" class="fa fa-linkedin "></a>
    <a href="#" class="fa fa-pinterest "></a>
  </div>

  <div class="border-top border-secondary mt-4 px-2 pt-5 h2 text-muted text-center">
    created by <span class="text-success">mr. Abdullah Khanji</span> | all rights reserved!
  </div>
</section>
