
.welcome{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 12rem;
}
.newsletter{
    background: url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}