<main id="main" class="main">
  <div class="pagetitle">
    <h1>All books</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">All books</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="col-12">
      <div class="card top-selling overflow-auto">
        <div class="card-body pb-0">
          <div class="d-flex">
            <h3 class="card-title">Books</h3>
            <button class="btn btn-primary m-3 ms-auto" routerLink="/add-book" >Add book</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Book Cover</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Page Count</th>
                <th scope="col">Downloads</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of booksList">
                <th scope="row">
                  <a href="#"
                    ><img
                      width="70px"
                      height="80px"
                      src="assets/img/book-1.png"
                      alt=""
                  /></a>
                </th>
                <td>
                  <a href="#" class="text-primary fw-bold"> {{ book.name }} </a>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.pageCount }}</td>
                <td>124</td>
                <td>
                  <i  class="bi bi-pencil h4 px-3"></i>
                  <i (click)="deleteBook(book)"  class="bi bi-trash h4"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
