

<!-- login form  -->

<div
  class="d-flex align-items-center justify-content-center bg-white h-100 w-100"
  style="margin-top: 20rem"
>
  <form class="bg-white border rounded w-25 p-5 m-5 " action="">
    <h1 class="text-center text-uppercase pb-4 fw-bond">sign in</h1>

    <div class="ms-3 align-items-center justify-content-center">
      <span class="d-block h4 pt-2">username</span>
      <input
        type="email"
        name=""
        class="form-control w-100"
        placeholder="Email"
      />
      <span class="d-block h4 pt-2">password</span>
      <input
        type="password"
        name=""
        class="form-control w-100"
        placeholder="Password"
      />
      <div class="form-check py-3 h5">
        <input class="form-check-input" type="checkbox" name="" id="remember-me" />
        <label class="form-check-label" for="remember-me"> remember me</label>
      </div>
      <input type="submit" value="sign in" class="btn w-100" />
    </div>


    <p class="pt-5 text-secondry h5 ">forget password ? <a href="#">click here</a></p>
    <p class="pt-2 text-secondry h5 ">don't have an account ? <a href="#">create one</a></p>
  </form>
</div>


